/* Contact styles */

.contact {
  padding: 6.25rem 1.25rem;
}

textarea, input {
  width: 100%;
  padding: 0.87rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  color: #495057;
  font-size: 0.81rem;
  background: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

.half-flex {
  display: flex;
}

.contact-name {
  padding-right: 1.25rem;
  flex: 1;
}

.contact-email {
  padding-left: 1.25rem;
  flex: 1;
}

.contact-send {
  margin-top: 1.87rem;
}

/* Media queries */

@media only screen and (max-width: 991px) {

  .half-flex {
    flex-direction: column;
  }

  .contact-name,
  .contact-email {
    padding: 0;
  }
}