/* Main */

.main-banner {
  background: url('../images/main-banner.png') no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
}

.main-section {
  padding: 6.25rem 1.87rem;
  display: flex;
  justify-content: space-between;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  color: #797979;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-section__name {
  color:#05364d;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 60px;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}

.main-section__position {
  font-size: 1.5rem;
  font-weight: 300;
  color: #05364d;
  margin-bottom: 1.25rem;
}

.main-section__social-networks a {
  display: inline-block;
  color: rgba(5,54,77,.5);
  font-size: 1.25rem;
  margin-right: 1rem;
  cursor: pointer;
}

.main-section__social-networks a:hover {
  color:#05364d;
}

.main-section__btn, .about-me__btn {
  margin-top: 1.25rem;
}

/* Statistics */

.statistics {
  padding-top: 100px;
  display: flex;
}

.statistics__item {
  width: 150px;
  background-color: #f8faff;
  padding: 0.625rem 0.94rem;
  margin-right: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.statistics__number {
  font-size: 1.69rem;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics__title {
  font-size: 1rem;
  font-weight: 300;
  color: #797979;
}

/* About me */

.about-me {
  padding: 6.25rem 0;
  display: flex;
  align-items: center;
}

.about-me > div {
  flex: 1;
}

.about-me__image img {
  width: 90%;
}

.about-me__text {
  font-size: 0.87rem;
  line-height: 1.69rem;
  font-weight: 300;
  color: #797979;
}

/* Services */

.services {
  padding-top: 6.25rem;
}

.service-card__items {
  display: flex;
  justify-content: space-between;
}

.service-card__item {
  padding: 3.75rem 1.87rem;
  text-align: center;
  background-color: #f8faff;
  margin-right: 3%;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.service-card__item:hover {
  background-color: #5f30ff;
}

.service-card__item:hover .service-card__title,
.service-card__item:hover .service-card__text,
.service-card__item:hover .learn-more {
  color: #fff;
}

.service-card__icon img {
  margin-bottom: 2.19rem;
}

.service-card__title {
  color: #05364d;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

.service-card__text {
  font-size: 0.87rem;
  line-height: 1.69rem;
  font-weight: 300;
  color: #797979;
  margin-bottom: 1.87rem;
}

.learn-more {
  font-size: 0.87rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}

.learn-more:hover {
  font-weight: bold;
}

/* Testimonial */

.testimonial {
  padding-top: 6.25rem;
}

.client-item {
  display: flex;
  align-items: center;
}

.client-item > div {
  flex: 1;
}

.client-item__image img {
  width: 100%;
}

.client-item__info {
  padding-left: 3.12rem;
}

.client-item__name {
  color: #05364d;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.client-name__position {
  color: #5b5b5b;
  font-size: 12px;
  font-weight: thin;
}

.client-item__text {
  color: #5b5b5b;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.client-rating {
  font-size: 0.94rem;
  color: #ffd804;
}

.client-rating .disabled {
  color: #aeb9be;
}

/* Portfolio */

.portfolio {
  padding: 100px 0;
}

.portfolio-links {
  list-style: none;
  margin-top: 3.12rem;
}

.portfolio-links li {
  display: inline-block;
  margin-right: 2.5rem;
  font-size: 0.81rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #05364d;
  cursor: pointer;
  padding-left: 0;
}

.portfolio-links li:hover,
.portfolio-links li.active {
  color: #1345e6;
  font-weight: bold;
}

.portfolio-items {
  position: relative;
  margin-top: 3.12rem;
}

.portfolio-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  padding: 0.625rem;
  box-sizing: border-box;
}

.portfolio-item-1 {
  padding-left: 0;
}

.portfolio-item-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-item-3 {
  position: absolute;
  top: 322px;
  right: 0;
}

.portfolio-item__image {
  width: 100%;
}

.portfolio-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 1;
  transition: all 0.4s ease 0s;
}

.portfolio-item:hover .portfolio-item__overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  visibility: visible;
  background: rgba(19, 69, 230, 0.9);
}

.portfolio-item__short-info {
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: #fff;
  visibility: hidden;
  z-index: 1;
  transition: all 0.4s ease 0s;
  opacity: 0;
}

.portfolio-item__short-info a {
  color: #fff;
  text-decoration: none;
}

.portfolio-item:hover .portfolio-item__short-info {
  position: absolute;
  bottom: 24px;
  left: 60px;
  visibility: visible;
  opacity: 1;
}

/* Blog */

.blog {
  padding: 6.25rem 0;
}

.card-items {
  margin-top: 3.12rem;
  display: flex;
  justify-content: space-between;
}

.card-item {
  margin-right: 3%;
  box-sizing: border-box;
  overflow: hidden;
}

.card-item:hover {
  box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.card-item:hover .card-item__image {
  transform: scale(1.1);
}

.card-item:hover .card-item__info {
  background-color: #fff;
}

.card-item__image {
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  transition: all 0.4s ease 0;
}

.card-item__info {
  background-color: #f8faff;
  padding: 1.87rem;
  color: #797979;
}

.card-item__short-info span {
  font-size: 0.87rem;
  margin-right: 1.87rem;
  font-weight: lighter;
}

.card-item__short-info i {
  margin-right: 5px;
}

.card-item__title {
  color: #05364d;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0.94rem;
}

.card-item__text {
  font-size: 0.94rem;
  font-weight: lighter;
  line-height: 1.69rem;
}

/* Partners */

.partners {
  padding-top: 1.87rem;
  padding-bottom: 3.12rem;
  display: flex;
  justify-content: space-between;
}

.partner {
  padding: 0 1.87rem;
}

/* Media queries */

@media only screen and (max-width: 991px) {

  /* Main section */

  .main-section__image {
    display: none;
  }

  .main-section > div {
    width: 100%;
  }

  /* Statistics */

  .statistics {
    padding-top: 1rem;
    text-align: center;
    justify-content: center;
  }

   /* About me section */

   .about-me {
    padding: 1.5rem 0;
  }

  .about-me > div {
    width: 100%;
  }

  .about-me__image {
    display: none;
  }

  /* Services */

  .services {
    padding: 1.5rem 0;
  }

  .service-card__items {
    flex-wrap: wrap;
  }

  .service-card__item {
    flex-basis: 45%;
    margin-bottom: 1.25rem;
  }

  /* Testimonials section */

  .testimonial {
    padding: 1.5rem 0;
  }

  .client-item {
    flex-direction: column;
  }

  .client-item > div {
    width: 100%;
    float: none;
  }

  /* Blog section */

  .blog {
    padding: 1.5rem 0;
  }

  .card-items {
    flex-wrap: wrap;
  }

  .card-item {
    flex-basis: 45%;
    margin-bottom: 1.25rem;
  }

  /* Partners section */

  .partners {
    padding: 1.5rem 0;
    flex-direction: column;
  }

  .partner {
    padding: 0;
    text-align: center;
    margin-bottom: 1.25rem;
  }
}

@media only screen and (max-width: 767px) {

  /* Main section */

  .main-banner {
    background: none;
    min-height: auto;
  }

  .main-section__btn {
    display: none;
  }

  .main-section > div {
    width: 100%;
  }

  .main-section__welcome {
    font-size: 1.87rem;
  }

  .main-section__name {
    font-size: 3rem;
    line-height: 2.62rem;
  }

  .main-section__position {
    line-height: 2.25rem;
  }

  /* Statistics section */

  .statistics {
    flex-direction: column;
  }

  .statistics__item {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  /* Services section */

  .service-card__item {
    flex-basis: 100%;
    margin-bottom: 1.25rem;
    margin-right: 0;
  }

  /* Portfolio section */

  .portfolio {
    padding: 1.5rem 0;
  }

  .portfolio-item {
    width: 100%;
  }

  .portfolio-item-1,
  .portfolio-item-2,
  .portfolio-item-3 {
    position: static;
  }

  /* Blog */

  .card-items {
    flex-direction: column;
  }
}