/* Core styles */

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.to-uppercase {
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 14px;
  color: #797979;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  text-transform: capitalize;
  color:#05364d;
  margin-top: 10px;
}

.blur-line {
  position: relative;
  top: -2px;
  width: 80px;
  height: 4px;
  display: inline-block;
  margin-left: 5px;
  background: rgba(237, 35, 159, .6);
  border-radius: 5px;
  filter: blur(4px);
}

.button {
  border: none;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  background-size: 200% auto;
}

.button:hover {
  background-position: right center;
}

/* Header */

.main-banner {
  background: url('../images/main-banner.png') no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
}

.main-header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
  z-index: 2;
}

.main-header__brand {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  padding: 10px;
}

.main-nav__item a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.main-nav__item a:hover {
  color: #efb6df;
}

.main-nav__item.active a {
  color: #efb6df;
}

/* Main */

.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float: left;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  color: #797979;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-section__name {
  color:#05364d;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-section__position {
  font-size: 24px;
  font-weight: 300;
  color: #05364d;
  margin-bottom: 20px;
}

.main-section__social-networks a {
  display: inline-block;
  color: rgba(5,54,77,.5);
  font-size: 20px;
  margin-right: 16px;
  cursor: pointer;
}

.main-section__social-networks a:hover {
  color:#05364d;
}

.main-section__btn, .about-me__btn {
  margin-top: 20px;
}

/* Statistics */

.statistics {
  padding-top: 100px;
}

.statistics__item {
  display: inline-block;
  width: 150px;
  background-color: #f8faff;
  padding: 10px 15px;
  margin-right: 20px;
  text-align: center;
}

.statistics__number {
  font-size: 27px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics__title {
  font-size: 16px;
  font-weight: 300;
  color: #797979;
}

/* About me */

.about-me {
  padding: 100px 0;
}

.about-me > div {
  width: 50%;
  float: left;
}

.about-me__image img {
  width: 90%;
}

.about-me__text {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #797979;
}

/* Services */

.services {
  padding-top: 100px;
}

.service-card__item {
  display: inline-block;
  width: 30%;
  padding: 60px 30px;
  text-align: center;
  background-color: #f8faff;
  margin-right: 3%;
  box-sizing: border-box;
  cursor: pointer;
}

.service-card__item:hover {
  background-color: #5f30ff;
}

.service-card__item:hover .service-card__title,
.service-card__item:hover .service-card__text,
.service-card__item:hover .learn-more {
  color: #fff;
}

.service-card__icon img {
  margin-bottom: 35px;
}

.service-card__title {
  color: #05364d;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.service-card__text {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #797979;
  margin-bottom: 30px;
}

.learn-more {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}

.learn-more:hover {
  font-weight: bold;
}

/* Testimonial */

.testimonial {
  padding-top: 100px;
}

.client-item > div {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.client-item__image img {
  width: 100%;
}

.client-item__info {
  padding-top: 50px;
  padding-left: 50px;
}

.client-item__name {
  color: #05364d;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.client-name__position {
  color: #5b5b5b;
  font-size: 12px;
  font-weight: thin;
}

.client-item__text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
}

.client-rating {
  font-size: 15px;
  color: #ffd804;
}

.client-rating .disabled {
  color: #aeb9be;
}

/* Portfolio */

.portfolio {
  padding: 100px 0;
}

.portfolio-links {
  list-style: none;
  margin-top: 50px;
}

.portfolio-links li {
  display: inline-block;
  margin-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #05364d;
  cursor: pointer;
  padding-left: 0;
}

.portfolio-links li:hover,
.portfolio-links li.active {
  color: #1345e6;
  font-weight: bold;
}

.portfolio-items {
  position: relative;
  margin-top: 50px;
}

.portfolio-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.portfolio-item-1 {
  padding-left: 0;
}

.portfolio-item-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio-item-3 {
  position: absolute;
  top: 322px;
  right: 0;
}

.portfolio-item__image {
  width: 100%;
}

.portfolio-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(19, 69, 230, 0.9);
  visibility: hidden;
  z-index: 1;
}

.portfolio-item:hover .portfolio-item__overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  visibility: visible;
}

.portfolio-item__short-info {
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: #fff;
  visibility: hidden;
  z-index: 1;
}

.portfolio-item__short-info a {
  color: #fff;
  text-decoration: none;
}

.portfolio-item:hover .portfolio-item__short-info {
  position: absolute;
  bottom: 24px;
  left: 60px;
  visibility: visible;
}

/* Blog */

.blog {
  padding: 100px 0;
}

.card-items {
  margin-top: 50px;
}

.card-item {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  box-sizing: border-box;
}

.card-item:hover {
  box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
}

.card-item:hover .card-item__info {
  background-color: #fff;
}

.card-item__image {
  width: 100%;
}

.card-item__info {
  background-color: #f8faff;
  padding: 30px;
  color: #797979;
}

.card-item__short-info span {
  font-size: 14px;
  margin-right: 30px;
  font-weight: lighter;
}

.card-item__short-info i {
  margin-right: 5px;
}

.card-item__title {
  color: #05364d;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.card-item__text {
  font-size: 15px;
  font-weight: lighter;
  line-height: 27px;
}

/* Partners */

.partners {
  padding-top: 30px;
}

.partner {
  display: inline-block;
  padding: 0 30px;
}