/* Core styles */

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.to-uppercase {
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 0.87rem;
  color: #797979;
  font-weight: 500;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title {
  font-size: 2.62rem;
  font-weight: 700;
  line-height: 52px;
  text-transform: capitalize;
  color:#05364d;
  margin-top: 0.32rem;
}

.blur-line {
  position: relative;
  top: -2px;
  width: 80px;
  height: 4px;
  display: inline-block;
  margin-left: 0.32rem;
  background: rgba(237, 35, 159, .6);
  border-radius: 5px;
  filter: blur(4px);
}

.button {
  border: none;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 1.26rem 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-size: 200% auto;
}

.button:hover {
  background-position: right center;
}

/* Header */

.main-banner {
  background: url('../images/main-banner.png') no-repeat top center;
  background-position: center;
  background-size: cover;
  min-height: 890px;
}

.main-header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
  z-index: 2;
}

.main-header__brand {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  padding: 0.625rem;
}

.main-nav__item a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.main-nav__item a:hover {
  color: #efb6df;
}

.main-nav__item.active a {
  color: #efb6df;
}